body {  	
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:  400; 
	padding-top: 60px;
	ul li {
		list-style: none;
	}
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-weight: normal;
}

/** Navigation bar **/
.navbar {
	background: @blue;
	border-bottom: 3px solid @black;
	.github {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 100;
	}
	.logo {
		display: block;
		padding: 10px 0;
	}
	
	.navbar-right {
		position: absolute;
		right: 10px;
		top: 0;
		z-index: 200;
		> li {
			background: transparent; 
			border: 1px solid transparent;
			margin: 15px 5px;
			a {
				color: @white;
				padding: 7px 20px;
				font-weight: 500;
				&:hover, &:focus {
					background-color: transparent;
				}
			}
		}
		
		> li:hover, li.active {
			background: transparent;
			border: 1px solid @light-blue;
			border-radius: 5px;
			> a, > a:hover, > a:focus {
				background: transparent;
				color: @white;
			}
		}
		
		> li:last-child {
			margin: 0 7px 0 0;
			border: none;
			&:hover, &:active { 
				border: none;
			}
		}
		
		> li > ul > li {
			display: inline-block;
			list-style: none;
			border-left: 1px solid @light-blue;
			a {
				padding: 18px;
				display: block;
				.uiIconCrash {
					width: 24px;
					height: 24px;
					background: url("@{image-path}icon/menu-icon-dark.png") no-repeat left top;
					display: block;
					&.uiIconGithub {
						background-position: 0 0;
					}
					
					&.uiIconTwitter {
						background-position: -24px 0;
					}
					
					&.uiIconExo {
						background-position: -48px 0;
					}
				}
			}
		}
	}
}

/********* banner *********/
.section-banner {
	.banner {
		background: url("@{image-path}banner.png") no-repeat;
		background-size: cover;
		.caption {
			color: @white;
			width: 100%; 
			padding: 175px 0;
			h1 {
				line-height: 1.2;
				font-weight: 300;
				span {
					color: @light-blue;
				}
			}
			.btn-primary {
				font-size: @font-size-h2;
				margin-top: 17px;
    			padding: 12px 40px;
    			background-color: @blue;
			}
		}
	}
}

/***** block content on homepage *****/
.grayBlock {
	background: @light-gray;
}

.features, .video, .download, .partner {
	padding: 0 0 40px 0;
	.row {
		margin-bottom: 10px;
	}
}

.features, .video, .download {
	font-size: @font-size-h4;
}


.features {
	h3 {
		position: relative;
		&:before {
		    background: @gray;
		    content: "";
		    display: block;
		    height: 4px;
		    position: absolute;
		    top: 50%;
		    width: 100%;
		}
		span {
		    background: @white;
		    position: relative;
		    z-index: 1;
		}
	}
	img {
		display: block;
		margin: 0 auto;
	}
	.row:nth-child(odd) {
		h3 {
			text-align: left;
			span {
				padding-right: 27px;
			}
		}
		p {
			text-align: left;
			padding-right: 75px;
			margin-top: 15px;
		}
	}
	.row:nth-child(even) {
		h3 {
			text-align: right;
			span {
				padding-left: 27px;
			}
		}
		p {
			text-align: right;
			padding-left: 75px;
			margin-top: 15px;
		}
	}
}


.video {
	.info {
		padding: 50px 120px 50px 0;
	}
	.video-wrapper {
		margin-top: -50px;
	}
}	

.download {
	.big-text {
		font-size: @font-size-xlarge;
		line-height: 1.1;
		font-weight: bolder;
		&.text-gray {
			color: @gray;
		}
	}
	.info3 {
		padding: 28px 0 28px 60px;
		p {
			margin-bottom: 5px;
		}
	}
	.info2 {
		padding: 40px 0 40px 60px;
	}
}

.partner {
	.col-md-3 {
		padding-left: 9px;
		padding-right: 9px;
		.panel {
			margin-bottom: 10px;
			border-radius: 0;
			box-shadow: none;
			.panel-body {
				height: 350px;
				.thumbnail {
					border: none;
					padding: 0;
				}
				h4 {
					font-weight: bold;
					margin: 20px 10px 20px 0;
					padding-left: 5px;
				}
				p {
					padding: 0 5px;
				}
			}
		}
	}
}

/********** footer **********/
.footer {
	line-height: 30px;
	padding: 18px 15px 10px;
	.footer-links li {
		float: left;
	    padding: 0 3px;
	    list-style: none;
	}
	
	.uiIconSoc {
		background: url("@{image-path}icon/social-icon.png") no-repeat;
		display: inline-block;
	    height: 30px;
	    width: 30px;
	}
	
	.uiIconFacebook {
		background-position: 0 0;
	}
	
	.uiIconTwitter {
		background-position: -35px 0;
	}
	
	.uiIconGplus {
		background-position: -70px 0;
	}
	
	.uiIconLinkedin {
		background-position: -105px 0;
	}
	
	.uiIconRss {
		background-position: -140px 0;
	}
	
	.uiIconYoutube {
		background-position: -175px 0;
	}
}



/** child pages **/
.install-page, .links-page, .contributors-page {
	.page-header {
		margin: 125px 0 55px;
	}	
}

.install-page, .links-page {
	.content-blk {
		margin: 40px 0;
		h2 {
			margin: 0 0 30px;		
		}
		h3 {
			margin: 45px 0 25px;		
		}
	}
	ul {
		margin: 0;
		padding: 0;
		li {
			background: url("@{image-path}icon/item-list-icon.png") no-repeat left 10px;
			padding-left: 20px;
			line-height: 1.8;
		}
	}
}

.install-page {
	font-size: @font-size-h5;
	line-height: 1.8;
}

.links-page {
	.content-blk {
		ul > li > a {
			font-size: @font-size-h5;
			color: @blue;
		}
	}
}

.contributors-page {
	.panel {
		background: @light-gray;
		text-align: center;
		height: 500px;
		border-radius: 0;
		box-shadow: none;
		a.thumbnail {
			padding: 0;
			border: none;
			background: transparent;
			img.img-responsive {
				border-radius: 50%;	
			}
		}
		h3 {
			border-bottom: 1px solid lighten(@gray, 46%);
			padding-bottom: 20px;
		}
		p {
			font-size: @font-size-h5;
			padding: 0 10px;
		}
	}
}